* {
    margin: 0px;
    padding: 0px;
    font: 400 14px 'Oswald';
}

header {

    display: flex;
    position: fixed;
    z-index: 1;
    top: 30px;
    flex-direction: row;
    align-items: center;

    .header-img {
        
        background-image: url(../acess/IMAGE.svg);
        background-size: contain;
        height: 32px;
        width: 93px;
        margin: 0px 0px 0px 120px;
    }

    ul {
        font: 400 13px 'Oswald';
        display: flex;
        list-style-type: none;

        li {
            margin-left: 40px;
        }
    }

    button {
        width: 193px;
        height: 52px;
        background: #0057FF;
        border-radius: 30px;
        margin-left: 350px;
        font: 400 14px 'Oswald';
        color: #FFFFFF;
    }
}

main {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 170px;
    left: 120px;

    .left-side-image {
        background-image: url(../acess/IMAGE1.svg);
        background-size: contain;
        height: 589px;
        width: 540px;
    }

    .right-side-content {
        position: relative;
        left: 120px;

        h1 {
            font: 400 40px 'Oswald';
            width: 450px;
            height: 100px;
        }

        .info {
            font: 400 15px 'Roboto';
            width: 450px;
            height: 52px;
            margin-top: 48px;
        }

        section {
            position: relative;
            top: 58px;
            left: 61px;
            width: 350px;

            .support {
                .info-column{
                    display: flex;
                    flex-direction: column;
                }
                height: 70px;
                width: 350px;

                p {
                    font: 400 16px 'Oswald';
                }

            }

            .hosting {
                height: 70px;
                width: 350px;

                p {
                    font: 400 16px 'Oswald';
                }

            }

            .questions {
                height: 70px;
                width: 350px;

                p {
                    font: 400 16px 'Oswald';
                }

            }

            .policy {
                height: 70px;
                width: 350px;

                p {
                    font: 400 16px 'Oswald';
                }

            }

        }
    }
}